
{% extends "layout.html" %}
{% block content %}
<body style="background-color: black;
font-family: Monsterrat;">
<div class="container" style="background-color: black;">
    <h3 style="color: whitesmoke;
    text-align: center;
    margin-top:5px;">The Flamboyance of Flamingos</h3>
    <hr style="border-top: 1px solid white;">
    <p style="color: pink;
    font-size: 20px;
    text-align: center;">To be honest, we thought that a group of Flamingos were called a “flock”. Considering the fact
        that these
        beautiful birds are pink and not to mention “Flamboyance” is too cool of a word to ignore, the team has decided
        to use this to show solidarity and support for Breast Cancer victims. We have also chosen different shades of
        pink as agent pseudonyms on our mission to raise awareness for Breast Cancer.</p>
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-3" style="height: 240px;  width: 240px;background-size: cover; margin:auto;">
            <img class="card-img-top" src="{{ url_for('static', filename='Jitin.jpg') }}" alt="Card image cap">
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body" style="background-color: black;">
                    <h5 class="card-title" style="color: #DE3163;
                    text-align: center;">Jitin Goyal</h5>
                    <hr style="border-top: 1px solid #DE3163;">
                    <h5 class="card-title" style="color: #DE3163;
                    text-align: center;">Developer</h5>
                    <p class="card-text" style="color: #DE3163;
                    font-size: 18px;
                    text-align: center;">There is an age old adage: “Size doesn’t matter”, Agent Cerise is the
                        quintessential example of this phrase being true. The french commander Napoleon Bonaparte was
                        revered throughout Europe for his efficiency as a military strategist, Cerise is just as
                        efficient when it comes to Web Design. Despite being a gamer by heart, he is easygoing and calm
                        (although that doesn’t prevent him from being the butt of all jokes xD). A badminton player with a
                        passion for sketching, he’s a part of the Full Stack development tag-team and is responsible for
                        making the website aesthetic and user-friendly.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body" style="background-color: black;">
                    <h5 class="card-title" style="color: #FF00FF;
                    text-align: center;">Ransher Singh</h5>
                    <hr style="border-top: 1px solid #FF00FF;">
                    <h5 class="card-title" style="color: #FF00FF;
                    text-align: center;">Data Scientist</h5>
                    <p class="card-text" style="color: #FF00FF;
                    font-size: 18px;
                    text-align: center;">Agent Fuchsia stands on three firm pillars: anime, football and K-pop. Infact,
                        his codename is inspired from the popular Pokemon city. It is only appropriate that Fuchsia is
                        the Data Scientist of the team; you may find him debating with his friends on just about
                        anything, the man’s a walking encyclopedia (though we’ll admit, it is pretty hilarious when he
                        is wrong :D ). He is responsible for creating the AI model and serves as the lynchpin that holds
                        the team together.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="height: 240px;  width: 240px; background-size: cover; margin:auto;">
            <img class="card-img-top" src="{{ url_for('static', filename='Ransher.jpg') }}" alt="Card image cap">
        </div>
    </div>
    <div class="row"  style="margin-top: 15px;" >
        <div class="col-sm-3"  style="height: 240px; width: 240px; background-size: cover; margin:auto;">
            <img class="card-img-top" src="{{ url_for('static', filename='Aryamaan.jpeg') }}" alt="Card image cap">
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body" style="background-color: black;">
                    <h5 class="card-title" style="color: #DF5286;
                    text-align: center;">Aryamaan Parida</h5>
                    <hr style="border-top: 1px solid #DF5286;">
                    <h5 class="card-title" style="color: #DF5286;
                    text-align: center;">Business Analyst</h5>
                    <p class="card-text" style="color: #DF5286;
                    font-size: 18px;
                    text-align: center;">Agent Fandango is a firm believer in “Being Different”; to stand out from the
                        crowd is not an aspiration but a necessity! He has a tendency to break into spasmodic monologues
                        about history and is an avid admirer of english poetry (can someone tell him that nobody really
                        cares about what the colour of the curtain implies, smh). “Selling” is an art and Fandango is
                        the perfect fit to be the Business Analyst of Patalah: extraverted in nature, he does it all:
                        from crafting pitching plans to creating content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body" style="background-color: black;">
                    <h5 class="card-title" style="color: #FFA6C9;
                    text-align: center;">Aishwarya Kumar Singh</h5>
                    <hr style="border-top: 1px solid #FFA6C9;">
                    <h5 class="card-title" style="color: #FFA6C9;
                    text-align: center;">Developer</h5>
                    <p class="card-text" style="color: #FFA6C9;
                    font-size: 18px;
                    text-align: center;">There are very few in this world who can brag about being an excellent singer
                        and a great basketball player. These are two spheres that generally don’t mix and yet, we have
                        with us an engineering student who excels in both. Agent Carnation is the other half of the Full
                        Stack Development tag team. Add to the fact that he is probably the sweetest dude around and you
                        have a prototype model that girls would drool over (unfortunately his dating record states
                        otherwise :’) )</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="height: 240px;  width: 240px;background-size: cover; margin:auto;">
            <img class="card-img-top" src="{{ url_for('static', filename='Aishu.jpeg') }}" alt="Card image cap">
        </div>
    </div>
</div>
</body>
{% endblock content%}
