{% extends "layout.html" %}
{% block content %}
<style>
    body{

        background-color: black; 
    }
    .card{
        background-color: black;
    }
    header {
      font-family: Monsterrat;
        margin: 15px;
        background-color: black;
    }

    header h1 {
        text-align: center;
    }

    header p {
        margin: 5px;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 20px;
        text-align: center;
        color: whitesmoke;
    }

    button {
        margin-left: 45%;
    }
</style>
<body style=" font-family: Monsterrat;">
<header>
    <h1 style="background-color: #EE6161">A Double Gordian Knot</h1>
    <p>A common screening process for detection of Breast Cancer cells is mammography. It is believed to reduce cancer
        rates by about 15%. As mentioned before, early detection is key to cure and mammograms play a vital role in
        doing just that. </p>
    <p>Breast Cancer Campaigns hail them as a saving grace; this has painted a misconception that getting a mammogram on
        a yearly basis is a permanent shield against the disease itself. Unfortunately, this isn’t true as Mammograms
        are far from perfect.</p>
    <p>A 2010 Norwegian study conducted by the Harvard School of Public Health found that out of 40000 women, mammograms
        only reduced the rate of breast cancer by 10% in women aged 50-69 and 8% in women over 70.</p>
    <p>It’s worth noting at this point that Breast Cancer typically affects women aged over 50, however it is the most
        common cancer for women aged 20-30.</p>
</header>
<div class="card">
  <div class="card-header" style="background-color: #EE6161;text-align:center;font-size: 18px;font-weight:bold; ">
    Problem #1
  </div>
  <div class="card-body">
    <p class="card-text" style="text-align:center;font-size: 18px;color: whitesmoke; margin-left: 15%; margin-right: 15%;" >Mammograms regularly generate false-positive and false-negative reports. The former occurs when a benign abnormality in the breast region is falsely diagnosed as a cancer cell and the latter occurs when the density of the breast obscures the visibility of a malignant cancer cell.<br> 

Research shows that screening mammograms do not find 1 in 5 Breast cancer cells (they miss 20% of cancerous tumours). This means that 11,916 in 276,480 women in the US alone will have a false negative report (2020 estimates).<br> 
<br>
You would be hard-pressed to believe that false-positive results are seemingly better off. This is not true. Cancer treatment can cause serious harm to nearby organs paving way to the rise of a secondary wave of the disease. Not to mention, treatment is not inexpensive.<br> 
<br>
It was found that while mammograms extended the life of 1 out of every 2000 women, it also led to unnecessary tests and treatment for 10 of those women.<br>
<br>
Given the inconclusive nature of these tests one is more likely to undergo further rounds of mammography which leads to increased costs. The chances of getting a false-positive result is very high for a first mammogram, in other words, one mammogram is never enough. Getting multiple tests done is an unfortunate certainty.<br> 
<br>
This impinges on your pocket, your mental health and you also expose your body to a certain amount of radiation. Lastly, the COVID-19 pandemic has all but ensured limited commute rendering multiple tests impractical and unsafe.<br>
<br>


It is rudimentary knowledge that humans often have difficulty in detecting a problem but exhibit incredible prowess when it comes to solving said problem. While doctors are consummate professionals they are not exempted from this flaw.<br> 
</p>
    
  </div>
</div>
<div class="card">
  <div class="card-header" style="background: #EE6161;text-align:center;font-size: 18px;font-weight:bold;">
    Problem #2
  </div>
  <div class="card-body">
    <p class="card-text" style="text-align:center;font-size: 18px;color:whitesmoke; margin-left: 15%; margin-right: 15%;">Doctors who specialise in this field are called radiologists. Some invasive cancer cells are in fact not malignant but the issue radiologists face is the fact that they cannot determine whether a cancer cell is harmless or invasive despite multiple mammogram reports.<br> 
<br>
More often than not a mammogram report is followed by a MRI scan or an ultrasound increasing the cost of the diagnosis.<br><br> 

There is also a dearth in the number of experienced radiologists with estimates suggesting that there is a shortage of 1000 radiologists for a populace of 10 million. Not every hospital/Breast Cancer Treatment centre can afford a skilled radiologist. <br><br>
</p>
    
  </div>
</div>


{% endblock content%}

</body>